# -------------------------------------
# Copyright 2025 NXP
# SPDX-License-Identifier: BSD-3-Clause
# -------------------------------------

menu "SGI PKC"

config MCUX_COMPONENT_component.sgi_pkc.doc.mcxa
    bool "Component component.sgi_pkc.doc.mcxa"
    depends on MCUX_HW_DEVICE_MCXA266 || MCUX_HW_DEVICE_MCXA366

config MCUX_COMPONENT_component.sgi_pkc.static_lib.mcxa
    bool "Component component.sgi_pkc.static_lib.mcxa"
    depends on MCUX_HW_DEVICE_MCXA266 || MCUX_HW_DEVICE_MCXA366

config MCUX_COMPONENT_component.sgi_pkc.aead
    bool "Component component.sgi_pkc.aead"
    select MCUX_COMPONENT_component.sgi_pkc.aes

config MCUX_COMPONENT_component.sgi_pkc.aead_modes
    bool "Component component.sgi_pkc.aead_modes"
    select MCUX_COMPONENT_component.sgi_pkc.aead
    select MCUX_COMPONENT_component.sgi_pkc.mac_modes

config MCUX_COMPONENT_component.sgi_pkc.aes
    bool "Component component.sgi_pkc.aes"
    select MCUX_COMPONENT_component.sgi_pkc.key
    select MCUX_COMPONENT_component.sgi_pkc.crc
    select MCUX_COMPONENT_component.sgi_pkc.prng

config MCUX_COMPONENT_component.sgi_pkc.buffer
    bool "Component component.sgi_pkc.buffer"
    select MCUX_COMPONENT_component.sgi_pkc.core
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.data_integrity
    select MCUX_COMPONENT_component.sgi_pkc.toolchain
    select MCUX_COMPONENT_component.sgi_pkc.toolchain

config MCUX_COMPONENT_component.sgi_pkc.cipher
    bool "Component component.sgi_pkc.cipher"
    select MCUX_COMPONENT_component.sgi_pkc.buffer

config MCUX_COMPONENT_component.sgi_pkc.cipher_modes
    bool "Component component.sgi_pkc.cipher_modes"
    select MCUX_COMPONENT_component.sgi_pkc.cipher
    select MCUX_COMPONENT_component.sgi_pkc.dma
    select MCUX_COMPONENT_component.sgi_pkc.padding

config MCUX_COMPONENT_component.sgi_pkc.core
    bool "Component component.sgi_pkc.core"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
	
config MCUX_COMPONENT_component.sgi_pkc.crc
    bool "Component component.sgi_pkc.crc"
    select MCUX_COMPONENT_component.sgi_pkc.core
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.data_integrity
    select MCUX_COMPONENT_component.sgi_pkc.toolchain

config MCUX_COMPONENT_component.sgi_pkc.dma
    bool "Component component.sgi_pkc.dma"

config MCUX_COMPONENT_component.sgi_pkc.ecc
    bool "Component component.sgi_pkc.ecc"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.buffer
    select MCUX_COMPONENT_component.sgi_pkc.pkc
    select MCUX_COMPONENT_component.sgi_pkc.mac
    select MCUX_COMPONENT_component.sgi_pkc.math
	
config MCUX_COMPONENT_component.sgi_pkc.example
    bool "Component component.sgi_pkc.example"
    select MCUX_COMPONENT_component.sgi_pkc.random_modes

config MCUX_COMPONENT_component.sgi_pkc.glikey
    bool "Component component.sgi_pkc.glikey"
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor

config MCUX_COMPONENT_component.sgi_pkc.hash
    bool "Component component.sgi_pkc.hash"
    select MCUX_COMPONENT_component.sgi_pkc.session

config MCUX_COMPONENT_component.sgi_pkc.hashmodes
    bool "Component component.sgi_pkc.hashmodes"
    select MCUX_COMPONENT_component.sgi_pkc.hash
    select MCUX_COMPONENT_component.sgi_pkc.buffer

config MCUX_COMPONENT_component.sgi_pkc.hmac
    bool "Component component.sgi_pkc.hmac"
    select MCUX_COMPONENT_component.sgi_pkc.key
    select MCUX_COMPONENT_component.sgi_pkc.toolchain
    select MCUX_COMPONENT_component.sgi_pkc.padding

config MCUX_COMPONENT_component.sgi_pkc.key
    bool "Component component.sgi_pkc.key"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.buffer

config MCUX_COMPONENT_component.sgi_pkc.mac
    bool "Component component.sgi_pkc.mac"
    select MCUX_COMPONENT_component.sgi_pkc.toolchain
    select MCUX_COMPONENT_component.sgi_pkc.padding

config MCUX_COMPONENT_component.sgi_pkc.mac_modes
    bool "Component component.sgi_pkc.mac_modes"
    select MCUX_COMPONENT_component.sgi_pkc.mac

config MCUX_COMPONENT_component.sgi_pkc.math
    bool "Component component.sgi_pkc.math"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.buffer
    select MCUX_COMPONENT_component.sgi_pkc.pkc

config MCUX_COMPONENT_component.sgi_pkc.memory
    bool "Component component.sgi_pkc.memory"
    select MCUX_COMPONENT_component.sgi_pkc.param_integrity
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.toolchain

config MCUX_COMPONENT_component.sgi_pkc.padding
    bool "Component component.sgi_pkc.padding"
    select MCUX_COMPONENT_component.sgi_pkc.buffer

config MCUX_COMPONENT_component.sgi_pkc.pkc
    bool "Component component.sgi_pkc.pkc"

config MCUX_COMPONENT_component.sgi_pkc.prng
    bool "Component component.sgi_pkc.prng"
    select MCUX_COMPONENT_component.sgi_pkc.random

config MCUX_COMPONENT_component.sgi_pkc.random
    bool "Component component.sgi_pkc.random"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.buffer

config MCUX_COMPONENT_component.sgi_pkc.random_modes
    bool "Component component.sgi_pkc.random_modes"
    select MCUX_COMPONENT_component.sgi_pkc.crc
    select MCUX_COMPONENT_component.sgi_pkc.random

config MCUX_COMPONENT_component.sgi_pkc.resource
    bool "Component component.sgi_pkc.resource"
    select MCUX_COMPONENT_component.sgi_pkc.buffer
    select MCUX_COMPONENT_component.sgi_pkc.dma

config MCUX_COMPONENT_component.sgi_pkc.rsa
    bool "Component component.sgi_pkc.rsa"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.signature
    select MCUX_COMPONENT_component.sgi_pkc.hash

config MCUX_COMPONENT_component.sgi_pkc.session
    bool "Component component.sgi_pkc.session"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.random
    select MCUX_COMPONENT_component.sgi_pkc.resource
    select MCUX_COMPONENT_component.sgi_pkc.crc
	
config MCUX_COMPONENT_component.sgi_pkc.sgi
    bool "Component component.sgi_pkc.sgi"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.toolchain
    select MCUX_COMPONENT_component.sgi_pkc.key
    select MCUX_COMPONENT_component.sgi_pkc.aes
    select MCUX_COMPONENT_component.sgi_pkc.hash
    select MCUX_COMPONENT_component.sgi_pkc.hashmodes
    select MCUX_COMPONENT_component.sgi_pkc.aead
    select MCUX_COMPONENT_component.sgi_pkc.mac
    select MCUX_COMPONENT_component.sgi_pkc.mac_modes
    select MCUX_COMPONENT_component.sgi_pkc.hmac
    select MCUX_COMPONENT_component.sgi_pkc.aead_modes
    select MCUX_COMPONENT_component.sgi_pkc.cipher
    select MCUX_COMPONENT_component.sgi_pkc.cipher_modes
    select MCUX_COMPONENT_component.sgi_pkc.trng
	
    select MCUX_COMPONENT_component.sgi_pkc.platform.mcxa

config MCUX_COMPONENT_component.sgi_pkc.signature
    bool "Component component.sgi_pkc.signature"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.toolchain

config MCUX_COMPONENT_component.sgi_pkc.trng
    bool "Component component.sgi_pkc.trng"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
    select MCUX_COMPONENT_component.sgi_pkc.memory

config MCUX_COMPONENT_component.sgi_pkc.pre_processor
    bool "Component component.sgi_pkc.pre_processor"
	
config MCUX_COMPONENT_component.sgi_pkc.data_integrity
    bool "Component component.sgi_pkc.data_integrity"
	
config MCUX_COMPONENT_component.sgi_pkc.ffdh
    bool "Component component.sgi_pkc.ffdh"
	
config MCUX_COMPONENT_component.sgi_pkc.flow_protection
    bool "Component component.sgi_pkc.flow_protection"

config MCUX_COMPONENT_component.sgi_pkc.param_integrity
    bool "Component component.sgi_pkc.param_integrity"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
	
config MCUX_COMPONENT_component.sgi_pkc.prng
    bool "Component component.sgi_pkc.prng"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.secure_counter
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor

config MCUX_COMPONENT_component.sgi_pkc.secure_counter
    bool "Component component.sgi_pkc.secure_counter"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.pre_processor
	
config MCUX_COMPONENT_component.sgi_pkc
    bool "Component component.sgi_pkc"
    select MCUX_COMPONENT_component.sgi_pkc.sgi
    select MCUX_COMPONENT_component.sgi_pkc.pkc
    select MCUX_COMPONENT_component.sgi_pkc.trng

config MCUX_COMPONENT_component.sgi_pkc.toolchain
    bool "Component component.sgi_pkc.toolchain"
	
config MCUX_COMPONENT_component.sgi_pkc.platform.mcxa
    bool "Component component.sgi_pkc.platform.mcxa"
    select MCUX_COMPONENT_component.sgi_pkc.toolchain


config MCUX_COMPONENT_component.sgi_pkc.examples
    bool "Component component.sgi_pkc.examples"
    select MCUX_COMPONENT_component.sgi_pkc.example
    select MCUX_COMPONENT_component.sgi_pkc.examples_aead
    select MCUX_COMPONENT_component.sgi_pkc.examples_cipher_modes
    select MCUX_COMPONENT_component.sgi_pkc.examples_crc
    select MCUX_COMPONENT_component.sgi_pkc.examples_ecc
    select MCUX_COMPONENT_component.sgi_pkc.examples_ffdh
    select MCUX_COMPONENT_component.sgi_pkc.examples_glikey
    select MCUX_COMPONENT_component.sgi_pkc.examples_hash_modes
    select MCUX_COMPONENT_component.sgi_pkc.examples_hmac
    select MCUX_COMPONENT_component.sgi_pkc.examples_key
    select MCUX_COMPONENT_component.sgi_pkc.examples_mac_modes
    select MCUX_COMPONENT_component.sgi_pkc.examples_random
    select MCUX_COMPONENT_component.sgi_pkc.examples_random_modes
    select MCUX_COMPONENT_component.sgi_pkc.examples_rsa
    select MCUX_COMPONENT_component.sgi_pkc.examples_flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.examples_memory


config MCUX_COMPONENT_component.sgi_pkc.examples_aead
    bool "Component component.sgi_pkc.examples_aead"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.aead
    select MCUX_COMPONENT_component.sgi_pkc.aead_modes

config MCUX_COMPONENT_component.sgi_pkc.examples_cipher_modes
    bool "Component component.sgi_pkc.examples_cipher_modes"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.sgi
    select MCUX_COMPONENT_component.sgi_pkc.examples_flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.cipher
    select MCUX_COMPONENT_component.sgi_pkc.cipher_modes
    select MCUX_COMPONENT_component.sgi_pkc.random_modes

config MCUX_COMPONENT_component.sgi_pkc.examples_crc
    bool "Component component.sgi_pkc.examples_crc"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
	
config MCUX_COMPONENT_component.sgi_pkc.examples_ecc
    bool "Component component.sgi_pkc.examples_ecc"
    select MCUX_COMPONENT_component.sgi_pkc.ecc
	
config MCUX_COMPONENT_component.sgi_pkc.examples_ffdh
    bool "Component component.sgi_pkc.examples_ffdh"
    select MCUX_COMPONENT_component.sgi_pkc.ffdh	

config MCUX_COMPONENT_component.sgi_pkc.examples_glikey
    bool "Component component.sgi_pkc.examples_memory"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.glikey

config MCUX_COMPONENT_component.sgi_pkc.examples_hash_modes
    bool "Component component.sgi_pkc.examples_hash_modes"
    select MCUX_COMPONENT_component.sgi_pkc.hashmodes
    select MCUX_COMPONENT_component.sgi_pkc.examples_flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.random_modes
	
config MCUX_COMPONENT_component.sgi_pkc.examples_hmac
    bool "Component component.sgi_pkc.examples_hmac"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.hmac
	
config MCUX_COMPONENT_component.sgi_pkc.examples_key
    bool "Component component.sgi_pkc.examples_key"
    select MCUX_COMPONENT_component.sgi_pkc.key
    select MCUX_COMPONENT_component.sgi_pkc.cipher
    select MCUX_COMPONENT_component.sgi_pkc.cipher_modes
    select MCUX_COMPONENT_component.sgi_pkc.aes

config MCUX_COMPONENT_component.sgi_pkc.examples_mac_modes
    bool "Component component.sgi_pkc.examples_key"
    select MCUX_COMPONENT_component.sgi_pkc.key
    select MCUX_COMPONENT_component.sgi_pkc.mac
    select MCUX_COMPONENT_component.sgi_pkc.mac_modes
	
config MCUX_COMPONENT_component.sgi_pkc.examples_random
    bool "Component component.sgi_pkc.examples_random"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
	
config MCUX_COMPONENT_component.sgi_pkc.examples_random_modes
    bool "Component component.sgi_pkc.examples_random_modes"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
    select MCUX_COMPONENT_component.sgi_pkc.random_modes
    select MCUX_COMPONENT_component.sgi_pkc.example
	
config MCUX_COMPONENT_component.sgi_pkc.examples_rsa
    bool "Component component.sgi_pkc.examples_rsa"
    select MCUX_COMPONENT_component.sgi_pkc.rsa

config MCUX_COMPONENT_component.sgi_pkc.examples_flow_protection
    bool "Component component.sgi_pkc.examples_flow_protection"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
	
config MCUX_COMPONENT_component.sgi_pkc.examples_memory
    bool "Component component.sgi_pkc.examples_memory"
    select MCUX_COMPONENT_component.sgi_pkc.flow_protection
    select MCUX_COMPONENT_component.sgi_pkc.session
    select MCUX_COMPONENT_component.sgi_pkc.memory
endmenu